<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/ads" method="post" enctype="multipart/form-data">
        <input type="text" name="productname" placeholder="name" >
        <input type="text" name="price" placeholder="price" >
        <input type="text" name="description" placeholder="description" >
        <input type="text" name="productid" placeholder="productid" >
        <input type="file" name="image">
        <input type="submit" value="newads">
</form>
</body>
</html>