body{
    background:white !important;
text-align: center !important;
margin-right: 370px !important;
margin-left: 370px !important;
margin-top: 50px !important;

}

form{
    border: 2px solid gray;
    background-color: aliceblue;
    border-radius: 20px !important;
}
.hide{
    display:none !important;
}